<nav class="breadcrumb">
  <ul>
    <li class="is-active"> <a>Tag</a> </li>
  </ul>
</nav>
<nav class="list-filter level">
  <div class="level-left">
    <!-- <div class="level-item">
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="text" placeholder="Find a option">
        </p>
        <p class="control">
          <button class="button is-expanded gee" data-gene="init:initQueryForm,click:addQuery" type="button"><i class="fa fa-search"></i></button>
        </p>
      </div>
    </div> -->


    <div class="level-item">
      <p class="control">
        <div class="select" >
          <select name="query" class="gee" data-gene="change:checkOption">
            <optgroup label="Press">
              <option value="title~">名稱</option>
              <option value="slug~">網址</option>
              <option value="id:">編號</option>
            </optgroup>
            <optgroup label="狀態">
                <option value="status=Enabled">啟用</option>
                <option value="status=Disabled">未啟用</option>
            </optgroup>
          </select>
        </div>
      </p>
    </div>
    <div class="level-item">
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="text" placeholder="Find a option">
        </p>
        <p class="control">
          <button class="button is-expanded gee" data-gene="init:initQueryForm,click:combineQuery" type="button"><i class="fa fa-search"></i></button>
        </p>
      </div>
    </div>
  </div>
  <div class="level-right">
    <p class="level-item">
      <a class="button is-primary gee" data-gene="click:loadRow" data-tmpl="tagForm" data-id="0">New</a>
    </p>
  </div>
</nav>
<div class="columns is-multiline">
  <div class="column level is-12">
    <div class="level-left">
      <p class="level-item">搜尋條件：</p>
      <div class="tags js-query-list level-item"></div>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <div class="field is-grouped is-grouped-multiline gee" data-gene="init:loadList,click:reactList" data-tmpl="tagList" data-nopde="1">{{props data}}
        <div class="control">
          <div class="tags has-addons">
            <!-- <a href="javascript:;" class="tag is-medium {{if prop.status === 'Enabled'}}is-light{{else}}is-info{{/if}}" data-func="loadRow" data-tmpl="tagForm" data-id="{{:prop.id}}">{{:prop.title}}</a> -->
            <a href="{{:~fixLink('tag/'+ prop.id +'/'+ prop.slug)}}" target="_blank" class="tag is-medium {{if prop.status === 'Enabled'}}is-light{{else}}is-info{{/if}}">{{:prop.title}}</a>
            <div class="tag is-medium is-info">
              <!-- <a href="javascript:;" data-func="loadRow" data-tmpl="tagDetailForm" data-src="modal" data-size="lg" data-id="{{:prop.id}}"> <span class="icon"><i class="fa fa-edit"></i></span> </a> -->
              <a href="javascript:;" data-func="loadRow" data-tmpl="tagForm" data-id="{{:prop.id}}"> <span class="icon"><i class="fa fa-edit"></i></span> </a>
              <button class="delete is-small" data-func="delRow" data-id="{{:prop.id}}"> </button>
            </div>
          </div>
        </div>
      {{/props}}</div>
    </div>
    <div class="list-footer">
      <nav class="pagination">
        <!-- <a class="pagination-previous gee" data-gene="click:prevPage">Previous</a>
          <a class="pagination-next gee" data-gene="click:nextPage">Next page</a> -->
        <ul id="paginate"></ul>
      </nav>
    </div>
  </div>
  <div class="column is-3">
    <div class="box">
      <form class="gee" data-gene="init:initForm" data-tmpl="tagForm" id="tagForm">
        <div class="tabs-content" >
          <div class="tab-box" title="中文">
            <div class="field">
              <label class="label">中文 Tag 名</label>
              <p class="control">
                <input class="input" name="lang[tw][title]" type="text" placeholder="Tag">
              </p>
            </div>
            <div class="field">
              <label class="label">中文相關詞</label>
              <p class="control">
                <textarea class="textarea" placeholder="相關詞" name="lang[tw][alias]"></textarea>
              </p>
            </div>
          </div>
          <div class="tab-box" title="英文">
            <div class="field">
              <label class="label">英文 Tag 名</label>
              <p class="control">
                <input class="input" name="lang[en][title]" type="text" placeholder="Tag">
              </p>
            </div>
            <div class="field">
              <label class="label">英文相關詞</label>
              <p class="control">
                <textarea class="textarea" placeholder="相關詞" name="lang[en][alias]"></textarea>
              </p>
            </div>

          </div>
        </div>

        <div class="field">
          <label class="label">網址</label>
          <p class="control">
            <input class="input" name="slug" type="text" placeholder="Slug">
          </p>
        </div>
        <div class="field">
          <input type="radio" class="is-checkradio" name="status" value="Enabled" id="tag-status-enabled">
          <label class="radio" for="tag-status-enabled">啟用</label>
          <input type="radio" class="is-checkradio" name="status" value="Disabled" checked="checked" id="tag-status-disabled">
          <label class="radio" for="tag-status-disabled">停用</label>
        </div>
        <div class="field is-grouped">
          <p class="control">
            <button type="button" class="button is-primary pre-gee" data-gene="click:setRow">Submit</button><!--  data-reset="1" -->
          </p>
          <p class="control">
            <button type="button" class="button is-link pre-gee" data-gene="click:cancelForm">Cancel</button>
          </p>
        </div>
        <input type="hidden" name="id">
      </form>
    </div>
  </div>
</div>
