

.navbar {
    // background: $primary;
    padding-bottom: 1.5em;
    padding-top: 1.5em;

    .navbar-brand{

        margin-right:7rem;


    }
    .navbar-item {
        background: transparent!important;
        color:#666!important;
       &.is-active{
        color:#222!important;
        font-weight: bold;

       }
        .logo {
            max-height: 4rem;
        }
    }
}
.subnavbar-menu{
    padding:1rem 0 0 0;
    background: #fff;
    a{
        padding:0.5rem 1rem 1rem;
    }
}

