@import "../../node_modules/bulmaswatch/Litera/_variables.scss";

body {
    // position: relative;
    &.logout {
        .is-login-t{
            display: none  !important;
        }
    }

    &.login {
        .is-login-f {
            display: none  !important;
        }
    }

    &.defocused {
        .is-engrossed-t {
            display: none  !important;
        }
        .engrossed-app {
            left: 100vw;
        }
    }

    &.engrossed {
        .is-engrossed-f {
            display: none  !important;
        }
        .engrossed-app {
            left: 0;
            transition: 3s;
        }
    }

    &.tablet {
        .navbar {
            border-radius: 0;
        }
        .breadcrumb:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    .engrossed-app {
        position: absolute;
        width: 100%;
    }
}

.logo  {
    width: 100px;
}

.jstree-default {
    .jstree-anchor {
        line-height: 36px;
        height: 36px;
        padding-right: 20px;
    }
    .jstree-icon {
        margin-top: 6px;
    }
}

.column {
    &.level:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.pagination-link.is-current a {
    color: #fff;
}

.is-disabled, .is-disabled:hover {
    border-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 0.5;
    a {
        pointer-events: none;
    }
}

.modal {
    .modal-content {
        &.modal-lg {
            width: 90%
        }
    }
}

.js-notification-show {
    opacity: 0.8;
    position: fixed;
    right: 25px;
    bottom: 15px;
    z-index: 1000;
}

.tag:not(body){
    .is-success a {
        color: #fff;
    }
   .is-warning a {
        color: rgba(0,0,0,.7);
    }
}

.tabs-content {
    .tab-box {
        display: none;
        &.is-active {
            display: block;
        }
    }

    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}
.tabs {
    li {
        border-bottom: none;
        &.is-active {
            border-bottom: 3px $primary solid;
        }
        a, a:hover {
            border-bottom: none;
        }
    }
}

.query-box {
    .select select {
        font-size: 15px;
    }
}

.sortable {
    border-radius: 8px;
    padding: 15px 0 10px 15px;
    margin: 0 0 0 10px;
    min-height: 15px;
    border: 1px dashed #ccc;
    &.js-sortable-ing {
        .control {
            display: none;
        }
        .placeholder {
            height: 30px;
            background-color: #daeaee;
        }
        .sortable {
            border-right: none;
        }
    }
    .sortable-block {
        list-style-type: none;
        .sortable {
            border-right: none;
        }
    }
    .level {
        margin: 5px;
    }
}

.field.fuu.has-addons, .field.fuq.has-addons {
    // margin-top: 18px;
}

.fuu-input, .fuq-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.fuu-input input[type=file],
.fuq-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fuu-input-title,
.fuq-input-title {
    margin-left:2px;
}

.footer.fuq-progress {
    padding: 1rem 1.5rem 1rem 6rem;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 2400;
    display: none;
}

.footer.fuq-progress:before {
    content: "上傳進度";
    position: absolute;
    left: 1rem;
}

.j-progressing .footer.fuq-progress {
    display: block;
}

.fr-popup, .fr-toolbar {
    z-index: 50;
}

.froalaInlineEditor {
    margin: 30px;
}

// .subnavbar-menu, .columns.is-gapless .section {
//     padding: 0.5rem 0.5rem;
// }

// .navbar-menu a.navbar-item:not(.button).is-active, .navbar-menu a.navbar-item:not(.button):hover {
//     color: #fff;
// }

// .navbar-menu a.navbar-item:not(.button).is-active.is-tab {
//     border-bottom-color: rgba(255,255,255,.6);
// }

.js-staff-name {
    text-transform: capitalize;
}

.tagsinput {
    margin-bottom: 0.75rem !important;
    min-height: 2.534em;
    input:focus {
        border: none;
        box-shadow: none;
        outline: 0;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.ellipsis {
    display: inline-block;
}

form{

    .field{
        margin-bottom: 2rem!important;
    }
}
.content .list-body {
    th, .datetime {
        white-space: nowrap;
    }



    // figure {
    //     width: 150px;
    // }
    .list{
       p{
           margin:0;
           &.date {
            color:#ccc;
            font-size: .8rem;
            }
           &.authors {
               margin-bottom: 1rem;

             .author-id{
                 background: #ccc;
                 padding:0.2rem 1rem;
                 font-size: .9rem;
                 border-radius: 5px;
                 color:#fff;

             }

            }


        }


    }


    .ellipsis.press-title {
        max-width: 45vw;
        min-width: 30vw;
        color:#333;
        font-weight: bold;
    }

    .line-clamp {
        max-width: 45vw;
        min-width: 30vw;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
    }
}

.quickview {
    z-index: 90;
    .section {
        padding: 1rem 1rem;
    }
}

.dollar {
    padding-left: 1em;
    padding-right: 4px;
    &:before {
        font-family: FontAwesome;
        content: "\F155";
        margin-left: -1.1em;
        font-size: 0.7em;
    }
    &.minus {
        &:before {
            font-family: FontAwesome;
            content: "- \F155";
            margin-left: -1.1em;
            font-size: 0.7em;
        }
    }
    &.currency {
        &:before {
            font-family: FontAwesome;
            content: "NT \F155";
            margin-left: -1.1em;
            font-size: 0.7em;
        }
        &.minus {
            &:before {
                font-family: FontAwesome;
                content: "NT - \F155";
                margin-left: -1.1em;
                font-size: 0.7em;
            }
        }
    }
}
.is-fixed-top {
    position: fixed;
    z-index: 55;
}
.is-mt-50 {
    margin-top: 3rem;
}

.breadcrumb li + li:before {
    content: "/";
}


.navbar .navbar-brand {
    margin-right: 1em;
}

@media screen and (min-width: 1024px) {
    .navbar {
        min-height: 2.25rem;
    }
    .navbar-brand, .navbar-tabs {
        min-height: 2.25rem;
    }
}

.file__uploading-progressbar {
    display: none;
    width: 100%;
}

.box__uploading-file-names {
    display: none;
}

.is-block {
    .fstMultipleMode .fstControls {
        width: 100%
    }
    .fstChoiceItem {
        float: none;
        width: 100%;
    }
}

.fs__multi {
    position: relative;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    color: #232323;
    font-size: 1.1em;
    background-color: #fff;
    & > input {
        position: absolute;
        left : -999rem;
    }
}

.fr-popup.fr-active {
    z-index: 99 !important;
}

.editor .gee__uploadingFile-dnd {
    padding: 3rem;
}

.level-item {
    a:hover {
        background-color: #F5F5F5;
        border-radius: 3px;
        border-width: 2px;
        border-style: solid;
        border-color:  #F5F5F5;
    }
}

#main-box .field .radio {
    display: inline-block;
}

.is-3 .field.per2-break .radio:nth-of-type(2n),
.is-4 .field.per2-break .radio:nth-of-type(2n) {
    display: block;
}

.hidden {
    display: none !important;
}

.btn__pic--remove {
    float: right;
    margin-bottom: 1rem;
}

table{
    th.actions {
        &.actions-2{
            width:150px;
        }
    }
}

.fstMultipleMode .fstControls {
    width: 100%;
}

.fstChoiceMove .holder {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  font-size: 1.16667em;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1.28571em;
  line-height: 1.28571em;
  margin-top: -0.64286em;
  text-align: center;
  color: #fff;
}

.fstChoiceMove .holder:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f074";
}

.fstChoiceItem.fstChoiceMove {
    padding: 0.33333em 1.5em;
}

.fstChoiceItem .addoninput{
    border: none;
    line-height: 1.5em;
    margin: 0 0 0 7px;
    width: 80px;
    background-color: #43A2F3;
    color: #fff;
}
.fstChoiceItem .addoninput:focus{
    outline: none;
}

.timeline .timeline-item {
    padding-bottom: 3em;
    .timeline-content {
        padding: 2em 0 0 4em;
    }
}

.image img.is-rounded {
    border-radius: 290486px;
}

.checkradio-box {
    float: left;
}

.per6-break .checkradio-box {
    width: 15%;
}
.per8-break .checkradio-box {
    width: 12%;
}

.per6-break .checkradio-box:nth-of-type(6n+1) {
    clear: left;
}
.per8-break .checkradio-box:nth-of-type(8n+1) {
    clear: left;
}

.is-many .fstMultipleMode .fstControls {
    width: 100%;
}


// .fr-wrapper>div:first-child {
//     display: none;
// }

.fr-view {
    ul {
        list-style: disc;
        padding-left: 40px; 
    }

    ol {
        padding-left: 40px; 
    }

    h3 {
        font-size: 1.17em;
        font-weight: bold;
        background-color: #ca5f00;
        color: #fff;
        display: inline-block;
        padding: 2px 4px;
    }

    h4 {
        font-weight: bold;
        background-color: #ca5f00;
        color: #fff;
        display: inline-block;
        padding: 2px 4px;
    }
}

.sortable-holder:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\F074";
}

.ui-state-highlight { 
    background-color: #caf1fd;
    height: 1.5em; 
    line-height: 1.2em; 
}

.pid-- .only-af-save, 
.pid-- .tabs-content .tab-box.only-af-save.is-active, 
.only-bf-save {
    display: none;
}

.pid-- .only-bf-save {
    display: block;
}

.field.has-error .input, .field.has-error .textarea {
    border-color: #f0ad4e;
}

.field.has-error .label {
    color: #f0ad4e !important;
}

.is-pointer {
    cursor: pointer;
}

.hover-highlight:hover {
    background-color: rgb(255 213 0 / 0.2);
}

.content figure {
    overflow: hidden;
}



.fr-view .fr-fic.col-6,
.fr-view span.fr-img-caption.fr-dib.fr-fic.col-6,
.fr-view span.fr-img-caption.fr-dii.fr-fic.col-6 {
    display: inline-block;
    float: none;
    width: 50% !important;
    margin: 0;
}

.fr-view .fr-img-caption .fr-inner {
    color: #617182e8;
    font-size: 14px;
}

.fr-view .fr-video iframe {
    max-width: 100%;
}

.fr-view .card-body .fr-img-space-wrap img {
    margin-bottom: 0.5rem;
}

.fr-view .card-body .fr-img-space-wrap {
    margin-bottom: 1rem;
}
