// Custom variable overrides

@import "../../node_modules/bulmaswatch/minty/_variables.scss";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulmaswatch/minty/_overrides.scss";

// @import "../../node_modules/bulma/sass/utilities/all";

// @import "../../node_modules/bulma/sass/grid/all";
// @import "../../node_modules/bulma/sass/base/all";
// @import "../../node_modules/bulma/sass/elements/all";
// @import "../../node_modules/bulma/sass/components/all";
// @import "../../node_modules/bulma/sass/layout/all";

// Custom overrides.

// @import "components/aside";
// @import "components/main";
@import "components/navbar";

.app-list{
    margin-top: 30px;
}

.is-circle{
    border-radius: 50%;
    overflow: hidden;
}

.has-centered{
    text-align: center;
    > * {
        display: inline-block;
    }
}

.is-mb3{
    margin-bottom: 3rem;
}
