<div class="engrossed-app is-engrossed-t">
  <div class="columns is-multiline ">
    <div class="column is-12"><!--  is-fixed-top -->
      <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <a class="navbar-item gee" href="javascript:;" data-gene="click:setDefocused"><span class="icon"><i class="fa fa-chevron-left"></i></span> 返回</a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start"></div>
          <div class="navbar-end">
            <a class="navbar-item gee" data-gene="click:showQuickview" href="javascript:;">發佈管理</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="column"><!--  is-mt-50 -->
      <section class="app-main section" id="engrossed-box">
      </section>
    </div>
  </div>
</div>
