<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <base href="<%= htmlWebpackPlugin.options.basePath %>">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script>
    document.domain = '<%= htmlWebpackPlugin.options.domain %>';
    document.tmplVersion = '<%= htmlWebpackPlugin.options.version %>';
  </script>
</head>
