<div class="modal" id="defaultModal">
  <div class="modal-background"></div>
  <div class="modal-content">
  </div>
  <button class="modal-close gee" data-gene="click:hideModal"></button>
</div>
<div class="modal" id="msgModal">
  <div class="modal-background"></div>
  <div class="modal-content">
  </div>
  <button class="modal-close gee" data-gene="click:hideModal"></button>
</div>
<div class="modal" id="galleryModal">
  <div class="modal-background"></div>
  <div class="modal-content">
  </div>
  <button class="modal-close gee" data-gene="click:hideModal"></button>
</div>
