<nav class="navbar is-transparent is-login-t is-engrossed-f">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="assets/images/logo.png" class="logo" alt="Logo">
    </a>
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span> <span></span> <span></span>
    </div>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <a href="javascript:;" class="navbar-item is-tab is-hidden-mobile gee" data-gene="tap:loadApp" data-app="cms" data-layout="list">內容管理</a>
      <a href="javascript:;" class="navbar-item is-tab is-hidden-mobile gee" data-gene="tap:loadApp" data-app="site" data-layout="list">網站管理</a>
    </div>
    <div class="navbar-end">
      <a href="javascript:;" class="navbar-item gee" data-gene="click:staff/loadMine" data-tmpl="mineForm" data-src="/staff/modal"><span class="js-staff-name"></span></a> <a class="navbar-item gee" data-gene="click:staff/logout" href="javascript:;">登出</a>
    </div>
  </div>
</nav>
