    <div class="column is-2 is-hidden-mobile">
      <aside class="menu section">
        <p class="menu-label">功能選單</p>
        <ul class="menu-list">
          <li><a href="javascript:;" class="item"><span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span></a></li>
          <li><a href="javascript:;" class="item gee" data-gene="tap:loadMain" data-module="option" data-layout="simple"><span class="icon"><i class="fa fa-map-marker"></i></span><span class="name">Option</span></a></li>
          <!-- <li>
            <a href="javascript:;" class="item gee" data-gene="tap:loadMain" data-module="product" data-layout="list"><span class="icon"><i class="fa fa-th-list"></i></span><span class="name">Product List</span></a>
          </li>
          <li><a href="javascript:;" class="item gee" data-gene="tap:loadMain" data-module="staff" data-layout="simple"><span class="icon"><i class="fa fa-th-list"></i></span><span class="name">Staff List</span></a></li>
          <li><a href="javascript:;" class="item"><span class="icon"><i class="fa fa-th-list"></i></span><span class="name">Timeline</span></a></li>
          <li><a href="javascript:;" class="item"><span class="icon"><i class="fa fa-folder-o"></i></span><span class="name">Folders</span></a></li> -->
        </ul>
      </aside>
    </div>
