<aside class="aside hero is-fullheight is-hidden-mobile">
    <div>
        <div class="main">
            <div class="title">Main</div>
            <a href="/" class="item active"><span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span></a>
            <a href="table.html" class="item"><span class="icon"><i class="fa fa-map-marker"></i></span><span class="name">Table</span></a>
            <a href="#" class="item"><span class="icon"><i class="fa fa-th-list"></i></span><span class="name">Timeline</span></a>
            <a href="#" class="item"><span class="icon"><i class="fa fa-folder-o"></i></span><span class="name">Folders</span></a>
        </div>
    </div>
</aside>
<nav class="app-navbar nav has-shadow" id="top">
    <div class="container is-fluid">
        <div class="nav-left">
            <a class="nav-item" href="../index.html"><img src="../assets/images/logo.png" class="logo" alt="Description"></a>
        </div>
        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class="nav-right nav-menu is-hidden-tablet">
            <a href="/" class="nav-item is-active">Dashboard</a>
            <a href="table.html" class="nav-item">Table</a>
            <a href="#" class="nav-item">Timeline</a>
            <a href="#" class="nav-item">Folders</a>
        </div>
    </div>
</nav>
