<%- include src/partials/header -%>
<body>
<%- include src/partials/toolbar -%>
<section class="app-main">
    <div class=" page-header">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column">  <h1 class="title">
                    Hero title
                </h1>
                <h2 class="subtitle">
                    Hero subtitle
                </h2>   </div>
                <div class="column">
                </div>
            </div>
        </div>
    </div>
    <div class="app-list">
        <div class="container is-fluid">
            <div class="columns" id='main-box'></div>
        </div>
    </div>
</section>
<%- include src/partials/modal -%>
</body>
</html>
