<%- include src/partials/header -%>

  <body>
    <%- include src/partials/toolbar -%>
      <div class="column">
      <section class="app-main">
        <div class="app-list">
          <div class="container is-fluid">
            <div id='main-box'></div>
          </div>
        </div>
      </section></div>
      <%- include src/partials/modal -%>
  </body>

  </html>
